# Ignore Gradle project-specific cache directory
.gradle

# Ignore ACS editor directory
.acside

# Ignore Kotlin directory
.kotlin

# Ignore Gradle build output directory
build


node_modules
dist

# Web build output
web/dist

# Android Studio
.idea
local.properties
